<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Strativ\ProductTags\Api\Product\TagRepositoryInterface" type="Strativ\ProductTags\Model\Repository\Product\TagRepository"/>
    <preference for="Strativ\ProductTags\Api\Tag\ProductRepositoryInterface" type="Strativ\ProductTags\Model\Repository\Tag\ProductRepository"/>
</config> 