<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Strativ_ProductTags::tags" title="Product Tags" module="Strativ_ProductTags" sortOrder="100" parent="Magento_Catalog::inventory" action="producttags/tag/index" resource="Strativ_ProductTags::tags"/>
    </menu>
</config> 